$color_1: aliceblue;
$color_2: rgb(46, 26, 156);
$color_3: rgb(255, 255, 255);
$font-family_1: monospace;
$font-family_2: 'Segoe UI';
$background-color_1: #b31c1c;
$background-color_2: gray;

table {
	border: 5px solid olivedrab;
	align-items: center;
}
th {
	font-style: italic;
	background-color: $background-color_1;
	border: 2px solid;
	color: $color_1;
}
tr {
	border: 2px solid;
}
td {
	border: 2px solid;
}
.title {
	font-family: $font-family_1;
	color: $color_2;
}
p {
	font-family: $font-family_2;
	background-color: $background-color_2;
	display: inline-block;
	color: $color_3;
}
