table {
  border: 5px solid olivedrab;
  align-items: center;
 }

th {
    font-style: italic;
    background-color:#b31c1c;
    border: 2px solid;
    color:aliceblue;
   }
  
   tr, td {
    border: 2px solid ;
   }
  
  .title{
    font-family: monospace;
    color: rgb(46, 26, 156);
  }
  
.flex-container3{
    font-family: 'Segoe UI';
    background-color: gray;
    display: inline-block;
    color: rgb(255, 255, 255);
  }

.grid-container{
    display: grid;
    background-color:gray;
    grid-template-columns: auto auto auto;
  }

.grid-container div{
  background-color: whitesmoke;
  text-align: center;
  color: darkslategrey;
  border: 2px solid olivedrab
}
 
.flex-container{
  display: flex;
  background-color:papayawhip;
  padding: 5px;
  border: 2px solid gray;
}

.flex-container div{
  background-color: gainsboro;
  color: black;
}

.flex-container2{
  display: flex;
  justify-content: center;
  background-color: olivedrab;
  padding: 5px;
  border: 2px solid black;
}

.flex-container2 div{
  background-color: slategrey;
  width: auto;
  margin: auto;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  border: 1px solid black;  
}

@media (max-width: 600px) {
  .flex-container3{
    flex-direction: column;
    color: #b31c1c;
    background-color: white;
  }
}

#quad{
  width: auto;
  height: 5px;
  background:#b31c1c;
  animation-name: quad-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes quad-ani{
  0% {
    background:#b31c1c;
  }
  25%{
    background: blue;
  }
  50%{
    background: green;
  }
  75%{
    background: yellow;
  }
  100%{
    background: gray;
  }
}

.container{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}


.box {
  animation: loader 3s infinite;
  background-color: orange;
  width: 75px;
  height: 75px;
  color: #00136c;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  50% {
    border-radius: 50%;
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}